[Unit]
Description=Daemon for controlling lights

[Service]
Type=simple
ExecStart=/opt/lights/lights.py
User=root
Restart=always

[Install]
WantedBy=multi-user.target
